{% extends 'base.html.twig' %}

{% block title %}Tshirt index{% endblock %}

{% block body %}
    <h1>Tshirt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Couleur</th>
                <th>Taille</th>
                <th>Description</th>
                <th>Moyendepaiement</th>
                <th>Online</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tshirt in tshirts %}
            <tr>
                <td>{{ tshirt.id }}</td>
                <td>{{ tshirt.nom }}</td>
                <td>{{ tshirt.prix }}</td>
                <td>{{ tshirt.couleur }}</td>
                <td>{{ tshirt.taille }}</td>
                <td>{{ tshirt.description }}</td>
                <td>{{ tshirt.moyendepaiement }}</td>
                <td>{{ tshirt.online ? 'Yes' : 'No' }}</td>
                <td>{{ tshirt.image }}</td>
                <td>
                    <a href="{{ path('app_tshirt_show', {'id': tshirt.id}) }}">show</a>
                    <a href="{{ path('app_tshirt_edit', {'id': tshirt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tshirt_new') }}">Create new</a>
{% endblock %}
